@charset "utf-8";
.socialShare {
	display: block;
	width: 54px;
	height: 54px;
	position: relative;
	z-index: 1;
}

.socialShare .msb_main {
	display: block;
	width: 46px;
	height: 46px;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2;
	cursor: pointer;
	text-indent: -9999px;
	border: 4px solid #FFF;
	box-shadow: 0 0 5px #DDD;
	border-radius: 36px;
}

.socialShare .msb_main:hover {
	box-shadow: 0 0 5px #BBB;
}

.socialShare .msb_main img {
	width: 46px;
	height: 46px;
	cursor: pointer;
	border-radius: 23px;
	border: none;
	float: left
}

.socialShare .msb_network_button {
	width: 31px;
	height: 31px;
	position: absolute;
	top: 9px;
	left: 92px;
	z-index: 1;
	cursor: pointer;
	text-indent: -9999px;
	display: none;
	background: no-repeat;
	border: 6px solid #f5f5f5;
	border-radius: 50%;
}

.socialShare .msb_network_button.sina {
	background: url(../images/social.png) no-repeat -130px -87px;
}

.socialShare .msb_network_button.tQQ {
	background: url(../images/social.png) no-repeat -185px -20px;
}

.socialShare .msb_network_button.qZone {
	background: url(../images/social.png) no-repeat -73px -20px;
}

.socialShare .msb_network_button.douban {
	background: url(../images/social.png) no-repeat -130px -151px;
}

.socialShare .msb_network_button.weixin {
	background: url(../images/social.png) no-repeat -73px -87px;
}

.socialShare .msb_network_button:hover {
	transition: -moz-transform 2s ease-out 0s;
	border: 6px solid #eee;
}
/*自定义*/

#weixin {
	width: 262px;
	height: 317px;
	border: solid 1px #d8d8d8;
	z-index: 1000000;
	position: fixed;
	top: 0px;
	left: 0px;
	background: white;
	display: none;
}

#weixin .bd_weixin_popup_head {
	font-size: 12px;
	font-weight: bold;
	text-align: left;
	line-height: 16px;
	height: 16px;
	position: relative;
	color: #000;
	width: 90%;
	margin: 10px auto;
}

#weixin .bd_weixin_popup_head .bd_weixin_popup_close {
	width: 16px;
	height: 16px;
	position: absolute;
	right: 0;
	top: 0;
	color: #999;
	text-decoration: none;
	font-size: 16px;
}

#weixin .erweima {
	width: 90%;
	height: auto;
	margin: 0 auto;
}

#weixin .erweima .erweimas {
	width: 100%;
	display: block;
}

#weixin .msgs {
	width: 90%;
	margin: 0 auto;
	font-size: 12px;
	text-align: left;
	line-height: 22px;
	color: #666;
}