

.clock {
  height:200px;

  position:absolute;

  left:50%;
  margin-left:-450px;

  text-align:center;
  z-index: 1999999;  
}

.digit {
  width:60px;
  height:100px;
  margin:0 5px;
  position:relative;
  display:inline-block;
  z-index: 1999999;  
}

.digit .segment {
  background:#c00;
  border-radius:5px;
  position:absolute;
  opacity:0.15;
  transition:opacity 0.2s;
  -webkit-transition:opacity 0.2s;
  -ms-transition:opacity 0.2s;
  -moz-transition:opacity 0.2s;
  -o-transition:opacity 0.2s;
  z-index: 1999999;  
}

.digit .segment.on, .separator {
  opacity:1;
  box-shadow:0 0 50px rgba(255,0,0,0.7);
  transition:opacity 0s;
  -webkit-transition:opacity 0s;
  -ms-transition:opacity 0s;
  -moz-transition:opacity 0s;
  -o-transition:opacity 0s;
  z-index: 1999999;  
}

.separator {
  width:10px;
  height:10px;
  background:#c00;
  border-radius:50%;
  display:inline-block;
  position:relative;
  z-index: 1999999;  
}

.digit .segment:nth-child(1) {
  top:5%;
  left:20%;
  right:20%;
  height:5%;
  z-index: 1999999;  
}

.digit .segment:nth-child(2) {
  top:10%;
  right:9%;
  width:9%;
  height:37%;
  z-index: 1999999;  
}

.digit .segment:nth-child(3) {
  bottom:10%;
  right:9%;
  width:9%;
  height:37%;
  z-index: 1999999;  
}

.digit .segment:nth-child(4) {
  bottom:5%;
  right:15%;
  height:5%;
  left:15%;
  z-index: 1999999;  
}

.digit .segment:nth-child(5) {
  bottom:10%;
  left:9%;
  width:9%;
  height:37%;
  z-index: 1999999;  
}

.digit .segment:nth-child(6) {
  top:10%;
  left:9%;
  width:9%;
  height:37%;
  z-index: 1999999;  
}

.digit .segment:nth-child(7) {
  bottom:48%;
  right:20%;
  left:20%;
  height:5%;
  z-index: 1999999;  
}