<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="google-site-verification" content="xBT4GhYoi5qRD5tr338pgPM5OWHHIDR6mNg1a3euekI" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{ site.description }}">
    <meta name="keywords"  content="{{ site.keyword }}">
    <meta name="theme-color" content="{{ site.chrome-tab-theme-color }}">

    <!-- Image to hack wechat -->
    <meta property="og:title" content="{% if page.title %}{{ page.title }} - {{ site.SEOTitle }}{% else %}{{ site.SEOTitle }}{% endif %}">
    <meta property="og:url" content="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
    <meta property="og:description" name="description" content="{{ page.subtitle }}">
    <meta property="og:image" content="https://xiphoray.cn/img/icon_wechat.png">
    <meta property="og:image:type" content="image/png">
    {% if page.layout == 'post' %}
    <meta property="og:type" content="article">
    <meta property="article:published_time" content="{{ page.date | date_to_xmlschema}}">
    <meta property="article:author" content="{% if page.author %}{{ page.author }}{% else %}{{ site.title }}{% endif %}">
    {% else %}
    <meta property="og:type" content="website">
    {% endif %}

    <title>{% if page.title %}{{ page.title }} - {{ site.SEOTitle }}{% else %}{{ site.SEOTitle }}{% endif %}</title>

    <!-- Web App Manifest -->
    <link rel="manifest" href="{{ site.baseurl }}/pwa/manifest.json">

    <!-- Favicon -->
    <link rel="shortcut icon" href="https://pics.xiphoray.cn/img/favicon.ico">
    
    <!-- Canonical URL -->
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">

    <!-- Bootstrap Core CSS
    <link rel="stylesheet" href="{{ "/css/bootstrap.min.css" | prepend: site.baseurl }}">
    <link href="https://pics.xiphoray.cn/css/bootstrap.min.css" rel="stylesheet"> -->
    <link rel="preload" href="https://pics.xiphoray.cn/css/bootstrap.min.css" as="style" onload="this.onload=null;this.rel='stylesheet'">
    <noscript><link rel="stylesheet" href="https://pics.xiphoray.cn/css/bootstrap.min.css"></noscript>
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{{ "/css/hux-blog.min.css" | prepend: site.baseurl }}"> 
    <!-- <link rel="preload" href="{{ "/css/hux-blog.min.css" | prepend: site.baseurl }}" as="style" onload="this.onload=null;this.rel='stylesheet'">
    <noscript><link rel="stylesheet" href="{{ "/css/hux-blog.min.css" | prepend: site.baseurl }}"></noscript> -->

    <!-- Pygments Github CSS
    <link rel="stylesheet" href="{{ "/css/syntax.css" | prepend: site.baseurl }}"> -->
    <link rel="preload" href="{{ "/css/syntax.css" | prepend: site.baseurl }}" as="style" onload="this.onload=null;this.rel='stylesheet'">
    <noscript><link rel="stylesheet" href="{{ "/css/syntax.css" | prepend: site.baseurl }}"></noscript>

    <!-- preload header image -->	
    <link rel="preload" as="image" href="{{ site.baseurl }}{% if page.header-img %}{{ page.header-img }}{% else %}{{ site.header-img }}{% endif %}" fetchpriority="high">


    <!-- Custom Fonts -->
    <!-- Hux change font-awesome CDN to qiniu -->
    <!-- <link href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" type="text/css"> -->
    <!-- <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">  -->
    <link href="https://pics.xiphoray.cn/css/font-awesome.min.css" rel="stylesheet" type="text/css"> 
    
    <!-- needsharebutton Javascript file -->
    <script src="{{ "/js/needsharebutton.js" | prepend: site.baseurl }}" defer></script>
    <script src="{{ "/js/jr-qrcode.min.js" | prepend: site.baseurl }}" defer></script>
    <!-- needsharebutton CSS file
    <link href="{{ "/css/needsharebutton.min.css" | prepend: site.baseurl }}" rel="stylesheet" /> -->
    <link href="https://pics.xiphoray.cn/css/needsharebutton.min.css" rel="stylesheet" media="print" onload="this.media='all'" />
	
    <!-- Hux Delete, sad but pending in China
    <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    -->

    <!-- NeteaseMiniPlayer v2 -->
    <!-- 引入样式文件 -->
    <link rel="stylesheet" href="{{ "/css/netease-mini-player-v2.min.css" | prepend: site.baseurl }}">
    <!-- 引入脚本文件 -->
    <script src="{{ "/js/netease-mini-player-v2.min.js" | prepend: site.baseurl }}"></script>


    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
		
    <![endif]-->

    <!-- ga & ba script hoook -->
    <script></script>
</head>
